# ------------------
#RUTAS
# ------------------

ruta_LPW = "C:\XXX\XXX\XXX\"
ruta_LPW_OB = "C:\XXX\XXX\XXX\"
ruta_LBT = "C:\XXX\XXX\XXX\"
ruta_LBT_OB = "C:\XXX\XXX\XXX\"
ruta_roster = "C:\XXX\XXX\XXX\"
ruta_salida = "C:\XXX\XXX\XXX\"